<div id="contact" class="contact-container">
  <div class="contact">
      <div class="social-link">
        <a href="https://twitter.com/Kelli3125">
          @Kelli3125
          <img src="/img/social/Twitter_logo_blue.png" alt="Twitter logo" class="social-link-logo">
        </a>
      </div>
      <div class="social-link">
        <a href="https://github.com/Kelli">
          github.com/Kelli
          <img src="/img/social/GitHub-Mark.png" alt="GitHub logo" class="social-link-logo">
        </a>
      </div>
      <div class="social-link">
        <a href="https://www.linkedin.com/in/KelliIreland">
          LinkedIn.com/in/KelliIreland
          <img src="/img/social/InBug-60px-R.png" alt="LinkedIn logo" class="social-link-logo">
        </a>
      </div>
  </div>
</div>
  